<div>
    	<br>
    	<h1>Connect Four</h1>
    	<sup>View the <a href="https://en.wikipedia.org/wiki/Connect_Four">rules of ConnectFour</a>. 
    		</sup>
    	<hr>
    </div>
 	<div id="info">
    	<table id="boardWrap" tooltip="click a column to drop your disc">
    		<tr colspan="7">
  				<button id="startGame">New Game</button><br>
  				<span><i>Instructions: Play by clicking a column to drop your disc. First player to put 4 discs in a row wins.</i></span>
  			</tr>
    		<caption id="cap"></caption>

			<tbody id="boardCells">
				<!--table cells will be loaded here by js-->
  			</tbody>
		</table>
    </div>
    <br><br>
    <sub>Coded by: Lee Alexis Bermejo. | 2015 | This game requires Javascript. Reload if page download was interrupted.</sub>